body {
    background-image: url("images/login/loginBac.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
#email_frame {
    width: 25rem;
    padding: 0.5rem;
    margin: auto;
    position: relative;
    background-color: #9BB98B;
    border-radius: 10px;
    text-align: center;
}
form p > * {
    display: inline-block;
    vertical-align: middle;
}
#image_logo {
    margin-top: 22px;
}
.label_input {
    font-size: 14px;
    font-family: ����;
    width: 65px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: white;
    background-color: #F0B177;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.text_field {
    width: 278px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}
#forgetpwd-email-submmit {
    font-size: 14px;
    font-family: ����;
    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: white;
    background-color: #E84107;
    border-radius: 6px;
    border: 0;
    vertical-align: middle;
}
#sent_control {
    padding: 0 55px;
}